/* Micro Clearfix Hack by Nicholas Gallagher (http://nicolasgallagher.com/micro-clearfix-hack/) */
/* For modern browsers */ 
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom: 1; }
.clear { clear: both; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }/* ----- clear fix for floats ----- */
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }/* hides clearfix from IE-mac */
.clearfix { display: block; }/* end hide from IE-mac */
/* general purpose classes */
.nodisplay { display: none; }
.nodisplay_strict { display: none !important; }
.alignleft { float: left; }
.alignnone { clear: both; font-size: 0; line-height: 0; margin: 0; padding: 0; border: 0; height: 0; width: 0; }
.alignright { float: right; }

.page-spinner-bar > div, .block-spinner-bar > div { background: #578EBE none repeat scroll 0 0 !important;}
.temp_hid{display: none;}
.duplicate_error {color: #a94442;}
/* End Toolkit
--------------------------------------------------------------------------------------------------*/
/* Begin css for crop box in profile page */
.show_image {
   width: 150px;
   height: auto !important;
}

.checkbox-list {
    float: left;
    width: 200px;
    padding-right: 20px;
}

img-crop {
    width: 99%;
    height: 99%;
    display: block;
    position: relative;
    overflow: hidden;
}
img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
}
.cropArea {
    /*background: #E4E4E4;*/
    margin: auto;
    overflow: hidden;
}
.cropArea.big {
    width:800px;
    height:600px;
}
.cropArea.medium {
    width:500px;
    height:350px;
}
.cropArea.small {
    width:300px;
    height:200px;
}
.ng-show-inline-block {
    display: inline-block !important;
}
.label.label-sm {
    padding: 3px 5px;
}
/* End css for crop box in profile page */
/* =Normalization - mostly derived from normalize.css (https://github.com/necolas/normalize.css/) but without comments and compressed to keep the file small
--------------------------------------------------------------------------------------------------*/

.user-package input[type="text"]{ color:#010101; font-size:16px; line-height:20px; font-family: 'Oswald', sans-serif; font-weight:300; border-top:2px solid #fff; border-left:2px solid #fff; border-right:2px solid #fff; border-bottom:2px solid #000000; padding:7px 10px;}
.user-package input[type="text"]:focus{ border:2px solid #000000;}
.user-package input[type="submit"]:focus{ background:#2F292B;}
html { -webkit-text-size-adjust: none; }
.user-package input{ -webkit-appearance:none; border-radius:0;}
.user-package input, .user-package input:before, .user-package input:after { box-sizing: border-box; margin: 0; padding: 0;}
/* End Normalization
--------------------------------------------------------------------------------------------------*/

/* Pleaceholder color */
::-webkit-input-placeholder  { color:#010101; opacity:1;}
::-moz-input-placeholder { color:#010101; opacity:1;}
:-moz-placeholder { color:#010101; opacity:1;}
::-moz-placeholder { color:#010101; opacity:1;}
:-ms-input-placeholder { color:#010101; opacity:1;}

/* =Typography
--------------------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Conv_trade-gothic-no-18-condensed';
	src: url('../font/trade-gothic-no-18-condensed-1361519964.eot');
	src: local('☺'), 
		url('../font/trade-gothic-no-18-condensed-1361519964.woff') format('woff'), 
		url('../font/trade-gothic-no-18-condensed-1361519964.ttf') format('truetype'), 
		url('../font/trade-gothic-no-18-condensed-1361519964.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_TradeGothic-BoldCondTwenty';
	src: url('../font/TradeGothic-BoldCondTwenty.eot');
	src: local('☺'), 
		url('../font/TradeGothic-BoldCondTwenty.woff') format('woff'), 
		url('../font/TradeGothic-BoldCondTwenty.ttf') format('truetype'), 
		url('../font/TradeGothic-BoldCondTwenty.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_trade-gothic-no-20-condensed-bold';
	src: url('../fonts/trade-gothic-no-20-condensed-bold-1361518746.eot');
	src: local('☺'), 
		url('../font/trade-gothic-no-20-condensed-bold-1361518746.woff') format('woff'), 
		url('../font/trade-gothic-no-20-condensed-bold-1361518746.ttf') format('truetype'), 
		url('../font/trade-gothic-no-20-condensed-bold-1361518746.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Setting up the fonts */

/* End Typography
--------------------------------------------------------------------------------------------------*/


/* Headings
--------------------------------------------------------------------------------------------------*/
.user-package h1 { color:#fff; text-transform:uppercase; font-size:56px; line-height:70px; font-weight:700; text-align:center; border-bottom:3px solid #fff; padding:0 0 55px; margin:0 0 55px;}
.user-package h2 { font-size:56px; line-height:70px; font-weight:700; text-transform:uppercase; text-align:center; color:#fff; border-bottom:4px solid #2891FA; padding:0 0 50px; margin:0 0 50px;}
.user-package h3 { font-size:44px; line-height:50px; color:#2891FA;}
.user-package h4 { font-size:42px; line-height:54px; color:#2891FA; text-transform:uppercase; font-weight:400; margin:0 0 40px;}
.user-package h5 { }
.user-package h6 { }


/* Links
--------------------------------------------------------------------------------------------------*/
.user-package a { text-decoration: none; color: #000; cursor: pointer !important; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
/*a:focus{ color:#2891FA;}*/
.user-package a:hover { }


/* Branding
--------------------------------------------------------------------------------------------------*/
.user-package p { padding: 0 0 45px 0; margin: 0; font-family: 'Oswald', sans-serif; font-weight:300; font-size:37px; line-height:44px; color:#010101; text-transform:uppercase;}
.user-package ul{ margin:0 0 20px;}
.user-package ul li{ font-size:30px; line-height:44px; background:url(../images/list-icon.png) no-repeat 0 20px; padding:0 0 0 15px;}
html, body { }
.user-package *{ font-family: 'Oswald', sans-serif;}
.user-package{ background:#0e0e0e; padding:10px;}

.portlet-body .view_next{ display: none; height: 30px; margin-top: -15px; position: absolute; right: 20px; top: 50%; width: 30px; z-index: 9;}
.portlet-body .view_pre{ display: none; height: 30px; margin-top: -15px; position: absolute; left: 20px; top: 50%; width: 30px; z-index: 9;}
.portlet-body .view_next i, .portlet-body .view_pre i{ font-size: 30px; line-height: 30px;}
.portlet-body:hover .view_next, .portlet-body:hover .view_pre{ display:block;}
.bootstrap-switch.bootstrap-switch-small {
    min-width: 170px;
}
::-webkit-scrollbar{
    width: 0px !important;
}
.video_img
{
  /*padding-left: 44px;*/
}
.video_clss tr td a.fancybox-thumbs{ position:relative; display:inline-block;}
.video_clss tr td a.fancybox-thumbs:before{ content:''; background:url(../../images/play.png) no-repeat; height:30px; width:30px; display:block; position:absolute; left:50%; top:50%; margin:-15px 0 0 -15px;}
.video_img.view
{
  padding-left: 0px;
}
.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}

/***
Login page
***/
/* logo page */url("../images/faq-bg.png") no-repeat scroll center top !important
.login { background: #0e0e0e url(../images/faq-bg.png) no-repeat center top #eeeeef !important; background-size:0 100%;}
.login .logo { margin: 10px auto 20px auto; padding: 15px; text-align: center; }
.login .logo img{ max-width:100%;}
.login .logo img{ height: 150px;}
.login .content { background-color: #fff; width: 360px; margin: 0 auto; margin-bottom: 0px; padding: 30px; padding-top: 20px; padding-bottom: 15px; -webkit-border-radius: 7px !important; -moz-border-radius: 7px !important; -ms-border-radius: 7px !important; -o-border-radius: 7px !important; border-radius: 7px  !important; }
.login .content h3 { color: #000; }
.login .content h4 { color: #555; }
.login .content p { color: #222; }
.login .content .login-form, .login .content .forget-form { padding: 0px; margin: 0px; }
.login .content .input-icon .form-control{ border-left: 2px solid #2891FA !important; }
.login .content .input-icon { -webkit-border-radius: 4px !important; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px !important; }
.login .content .forget-form { display: none; }
.login .content .register-form { display: none; }
.login .content .form-title { font-weight: 300; margin-bottom: 25px; }
.login .content .form-actions { background-color: #fff; clear: both; border: 0px; border-bottom: 1px solid #eee; padding: 0px 30px 25px 30px; margin-left: -30px; margin-right: -30px; }
.login .content .form-actions .checkbox { margin-left: 0; padding-left: 0; float: left; }
.login .content .forget-form .form-actions { border: 0; margin-bottom: 0; padding-bottom: 20px; }
.login .content .register-form .form-actions { border: 0; margin-bottom: 0; padding-bottom: 0px; }
.login .content .form-actions .checkbox { margin-top: 8px; display: inline-block; }
.login .content .form-actions .btn { margin-top: 1px; }
.login .content .forget-password { margin-top: 25px; }
.login .content .create-account { border-top: 1px dotted #eee; padding-top: 10px; margin-top: 15px; }
.login .content .create-account a { display: inline-block; margin-top: 5px; }
/* select2 dropdowns */
.login .content .select2-container { border-left: 2px solid #44B6AE !important; }
.login .content .select2-container .select2-choice { border-left: none !important; }
.login .content .select2-container i { display: inline-block; position: relative; color: #ccc; z-index: 1; top: 1px; margin: 4px 4px 0px -1px; width: 16px; height: 16px; font-size: 16px; text-align: center; }
.login .content .has-error .select2-container i { color: #b94a48; }
.login .content .select2-container a span { font-size: 13px; }
.login .content .select2-container a span img { margin-left: 4px; }
/* footer copyright */
.login .copyright { text-align: center; margin: 0 auto; padding: 10px; color: #000; font-size: 13px; }
.append_insta_imgs
{
  
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
    overflow:auto;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    min-height: 360px;
    height: 360px;
    padding: 23px;
  
}

.append_insta_imgs .dz-image-preview{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
    font-size: 14px;
}
.append_insta_imgs .dz-image-preview {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border: 1px solid #acacac;
    display: inline-block;
    margin: 17px;
    padding: 6px;
    position: relative;
    vertical-align: top;
}
.append_insta_imgs .dz-preview .dz-details {
    background: none repeat scroll 0 0 #ebebeb;
    height: 100px;
    margin-bottom: 22px;
    padding: 5px;
    position: relative;
    width: 100px;
}
.append_insta_imgs .dz-preview .dz-success-mark {
    background-position: -268px -163px;
}
.append_insta_imgs .dz-preview .dz-error-message{
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
}
.append_insta_imgs a.dz-remove{
    background-image: linear-gradient(to bottom, #fafafa, #eee);
    border: 1px solid #eee;
    border-radius: 2px;
    color: #aaa;
    display: block;
    margin-top: 26px;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
}
.append_insta_imgs .dz-preview .dz-details img{
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}
#instaModal .modal-body
{
    height: 650px;
    overflow: auto;
}
.sales-list{ float: left; width: 200px;padding-right: 20px;}
.sales-list label{ display: block; margin-bottom: 5px;}
.sales-list-parent {min-width: 150px;overflow-y: scroll;}


.student-list-mark{ float: left; min-width: 300px;padding-right: 20px;}
.student-list-mark label{ display: block; margin-bottom: 5px;}
.student-list-mark input[type="text"]{ display: inline !important;margin-left: 10px !important;}
.student-list-mark-parent {min-width: 150px;overflow-y: scroll;}
.user_pic_class #image_cinform { border: none;}
.default_img_size{ width: 160px !important; }
.profile-userpic img {  border-radius: 0 !important; }
.user_list_image {width:100px;/** border-radius: 50% !important; */}
.list_image {width:100px}
/* Image Crop Css */
.profile-userpic, .profile-userpic1{margin-bottom: 20px; width: 115px;  margin: 0 auto ; overflow: hidden; height: 115px; border-radius: 50%;} /*position: relative;*/

.profile-userpic img, .profile-userpic1 img { float: none; margin: 0 auto; max-width: 120px; width: 120px; height: 120px;}
#profile_pic{ float: left; }
#tab_user_data{ float: left; margin: 0 0 20px; width: 100%; }
.preview_div{float: left; width: 200px;}
.profile-userpic img, .profile-userpic1 img { float: none; height: 120px; margin: 0 auto; max-width: 120px; width: 120px; }

.marging-top-5{ margin-top: 5px !important; }
#frmAdd .profile-userpic img, #sales_edit .profile-userpic img {  border-radius: 0 !important;}
.btn-file > input { cursor: pointer; direction: ltr; font-size: 23px; height: 100%; margin: 0; opacity: 0; position: absolute; right: 0; top: 0; /*width: 100%;*/ }
 .file-attachment {
    border: 1px solid #e8ecf2;
    margin: 0 0 15px;
    padding: 5px;
    position: relative;
}
.error-inner{color: #a94442;margin-bottom: 5px;margin-top: 5px;}


 @media (max-width: 480px) {
/***
  Login page
  ***/
.login .logo { margin-top: 10px; }
.login .content { width: 280px; }
.login .content h3 { font-size: 22px; }
.login .checkbox { font-size: 13px; }
.div_padding{ padding: 20px; }
.modal {
  overflow-y: auto !important;
}
/* custom class to override .modal-open */
.modal-noscrollbar {
    margin-right: 0 !important;
}
}
#viewModal .table .span2{ font-weight: bold; }
.multiple-video input{ width: 75%; float: left; }
.multiple-video a{ float: left; margin: 7px 7px 7px 10px; }
#instaModal .modal-dialog{ width: 100%; }
#instaModal .modal-dialog .col-md-3{ width: 10% }
#instaModal .modal-dialog .col-md-3 .thumbnail.selected{ opacity: 0.2; }
.grey-salt.btn{background-color:#787878 !important; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.grey-salt.btn:hover{background-color:#484848 !important}
.table .btn {margin-top: 5px !important;}
@media (min-width: 481px) and (max-width: 767px) {
    #instaModal .modal-dialog .col-md-3{ width: 50% }
    #instaModal .modal-dialog{ width: 94%; }
}
@media (min-width: 320px) and (max-width: 480px) {
    #instaModal .modal-dialog .col-md-3{ width: 100% }
    #instaModal .modal-dialog{ width: 94%; }
}
@media (max-width: 992px) {
	.video-block .extra-button{ margin-top: 10px; }
}
.page-header.navbar .page-logo .logo-default{margin:8px 67px 0;}
.page-header.navbar .page-logo .logo-default{
    height: 46px !important;
}
/*.page-header.navbar .page-logo .logo-default{
    background-color: #E1E1E1;
}
.page-header.navbar .page-logo{
   background-color: #E1E1E1 !important;  
}*/
button.close{
    margin-top: 5px;
    margin-right: 5px;
}
table.table-borderless tr td.span2{width: 20%;font-weight:bold;}
table.table-borderless tr td.color_code .input-group-btn .btn{padding: 7px 14px !important;}
.input-group-btn i {
    cursor: pointer;
    display: block;
    height: 20px !important;
    position: absolute;
    right: 6px;
    width: 20px;
}
.add-row .add
{
    background: rgba(0, 0, 0, 0) url("../img/plus.png") no-repeat scroll left top;
    display: block;
    height: 20px;
    margin-right: 15px;
    width: 20px;
    margin-top: 6px;
    float: left;
}
.add-row .remove {
    background: rgba(0, 0, 0, 0) url("../img/minus.png") no-repeat scroll left top;
    display: block;
    height: 20px;
    margin-right: 15px;
    width: 21px;
    float: left;
}
.dashboard-stat.orange {
    background-color: #e36307;
}
.dashboard-stat.purple {
    background-color: #71226b;
}
.dashboard-stat.petrol {
    background-color: #318eaf;
}
.dashboard-stat.orange {
    background-color: #e36307;
}
.dashboard-stat.raspberry {
    background-color: #a7004d;
}

/* report css */
.active_img{display: block; margin: 0px auto; }
.inactive_img{display: none; }
.remove_file .delete_btn{ padding: 0 4px 0 0;}
.remove_file{ float: right; }
.date .input-group-btn i {
    cursor: pointer;
    display: inline-block;
    height: inherit;
    position: relative;
    right: 0;
    width: inherit;
}

.date .btn.default {
    background-color: #787878;
    border-radius: unset !important;
    color: #ffffff;
    margin-bottom: 3px;
    padding: 6px 12px;
}

.bookmartrow-clone {
    position: fixed;
    z-index: 9999;
}